/*！
 * 该改栅格系统只有768px一个断点，屏幕尺寸大于768px类值为col-lg-*，小于768px类值为
 * col-sm-*。该栅格系统借鉴了Bootstrap(http://getbootstrap.com/)栅格系统的样式， 
 * 思想源于w3schools RWD教程(http://w3schools.bootcss.com/css/css_rwd_intro.html)。
 */

/* width和height包含padding和border的尺寸*/
* {box-sizing: border-box;}

img {max-width: 100%;}

/* 清除浮动 */
.row:after {content: ""; clear: both; display: block;}
/* end */

[class*="col-"] {float: left; padding: 15px;}

/* 宽度小于768px的屏幕，优先加载 */
.col-sm-12 {width: 100%;}
.col-sm-11 {width: 91.66666667%;}
.col-sm-10 {width: 83.33333333%;}
.col-sm-9 {width: 75%;}
.col-sm-8 {width: 66.66666667%;}
.col-sm-7 {width: 58.33333333%;}
.col-sm-6 {width: 50%;}
.col-sm-5 {width: 41.66666667%;}
.col-sm-4 {width: 33.33333333%;}
.col-sm-3 {width: 25%;}
.col-sm-2 {width: 16.66666667%;}
.col-sm-1 {width: 8.33333333%;}
.col-sm-offset-12 {margin-left: 100%;}
.col-sm-offset-11 {margin-left: 91.66666667%;}
.col-sm-offset-10 {margin-left: 83.33333333%;}
.col-sm-offset-9 {margin-left: 75%;}
.col-sm-offset-8 {margin-left: 66.66666667%;}
.col-sm-offset-7 {margin-left: 58.33333333%;}
.col-sm-offset-6 {margin-left: 50%;}
.col-sm-offset-5 {margin-left: 41.66666667%;}
.col-sm-offset-4 {margin-left: 33.33333333%;}
.col-sm-offset-3 {margin-left: 25%;}
.col-sm-offset-2 {margin-left: 16.66666667%;}
.col-sm-offset-1 {margin-left: 8.33333333%;}
.col-sm-offset-0 {margin-left: 0;}
/* end */

/* 宽度不小于768px的屏幕 */
@media only screen and (min-width: 768px) {
  .col-lg-12 {width: 100%;}
  .col-lg-11 {width: 91.66666667%;}
  .col-lg-10 {width: 83.33333333%;}
  .col-lg-9 {width: 75%;}
  .col-lg-8 {width: 66.66666667%;}
  .col-lg-7 {width: 58.33333333%;}
  .col-lg-6 {width: 50%;}
  .col-lg-5 {width: 41.66666667%;}
  .col-lg-4 {width: 33.33333333%;}
  .col-lg-3 {width: 25%;}
  .col-lg-2 {width: 16.66666667%;}
  .col-lg-1 {width: 8.33333333%;}
  .col-lg-offset-12 {margin-left: 100%;}
  .col-lg-offset-11 {margin-left: 91.66666667%;}
  .col-lg-offset-10 {margin-left: 83.33333333%;}
  .col-lg-offset-9 {margin-left: 75%;}
  .col-lg-offset-8 {margin-left: 66.66666667%;}
  .col-lg-offset-7 {margin-left: 58.33333333%;}
  .col-lg-offset-6 {margin-left: 50%;}
  .col-lg-offset-5 {margin-left: 41.66666667%;}
  .col-lg-offset-4 {margin-left: 33.33333333%;}
  .col-lg-offset-3 {margin-left: 25%;}
  .col-lg-offset-2 {margin-left: 16.66666667%;}
  .col-lg-offset-1 {margin-left: 8.33333333%;}
  .col-lg-offset-0 {margin-left: 0;} 
}
/* end */
